.wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  margin: 0 auto;
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
}
